<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-300 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      ¡Soy Martin! Mi pasión por crear cosas nació en la secundaria, cuando
      descubrí el <strong>desarrollo de software</strong> y me di cuenta de lo mucho
      que disfrutaba dar vida a las ideas a través del código. Esto me llevó a estudiar
      <strong>Ingeniería de Sistemas</strong>, donde descubrí el <strong
        >diseño</strong
      > y el
      <strong>desarrollo web</strong> como mi camino ideal.
    </p>

    <p>
      Mi enfoque está en el desarrollo visual, trabajando con <strong
        >atención al detalle</strong
      > y una actitud <strong>diligente</strong>. A través de proyectos he
      desarrollado habilidades en <strong>entornos colaborativos</strong>,
      aunque también soy muy productivo trabajando de forma independiente.
    </p>

    <p>
      Mi experiencia incluye el desarrollo de <strong>aplicaciones web</strong>,
      donde destaco en el <strong>front-end</strong>. Gracias a mi conocimiento
      en backend, tengo la capacidad de ofrecer soluciones completas que
      combinan estética y funcionalidad.
    </p>
  </div>
  <img
    src="/me.webp"
    alt="Foto de Martin Guette"
    class="rounded-full size-64 order-1 md:order-2"
  />
</section>
