<section class="flex gap-x-4">
  <div class="[&>p]:mb-4">
    <p>
      ¡Soy Martin! Mi pasión por crear cosas nació en la secundaria, cuando
      descubrí el desarrollo de software y me di cuenta de lo mucho que
      disfrutaba dar vida a las ideas a través del código. Esto me llevó a
      estudiar Ingeniería de Sistemas, donde descubrí el diseño y el desarrollo
      web como mi camino ideal.
    </p>

    <p>
      Mi enfoque está en el desarrollo visual, trabajando con atención al
      detalle y una actitud diligente. A través de proyectos he desarrollado
      habilidades en entornos colaborativos, aunque también soy muy productivo
      trabajando de forma independiente.
    </p>

    <p>
      Mi experiencia incluye el desarrollo de aplicaciones web, donde destaco en
      el front-end. Gracias a mi conocimiento en backend, tengo la capacidad de
      ofrecer soluciones completas que combinan estética y funcionalidad.
    </p>
  </div>
</section>
