---
import ExperienceItem from './ExperienceItem.astro';
const EXPERIENCE = [
  {
    date: 'Julio 2023 - Enero 2024',
    title: 'Desarrollador Front-End - InfoBank',
    description:
      'Desarrollé y mejoré módulos de personalización de menús para un sistema de estadísticas y monitoreo de datos universitarios, implementando menús dinámicos y pruebas unitarias para mejorar la flexibilidad y eficiencia del sistema. Utilizando tecnologías como ReactJS, NextJS, TypeScript, Tailwind CSS, GIT & GitLab, Mock Service Worker.',
    link: '#',
  },
  {
    date: 'Enero 2023 - Julio 2023',
    title: 'Desarrollador Front-End - CETEP Unimagdalena',
    description:
      'Prácticas en ingeniería de sistemas con enfoque en desarrollo front-end y diseño web, participando en la creación de páginas en WordPress, apoyo en el desarrollo de una aplicación empresarial, y asistencia en paneles de Power BI, utilizando tecnologías como ReactJS, NextJS, TypeScript, y Django.',
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
